body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("loginbackground.png");
    object-fit: cover;
    background-size: 100% 100%;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color:whitesmoke;
    padding: 5vh 13vw;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    text-align: center;
    align-items: flex-end;
    border-radius:15px;
    font-size: larger;
}
header {
    background-color: black;
    color: #fff;
    padding: 0.5vw;
    text-align: center;
}

.logo{
	background-color: black;
    color:white;
    font-size: 30px;
    font-family:sans-serif;
    font-weight:bold;
    border: 1px solid white;
    margin:1vw;
    border-radius:10px;
    padding:1vw 5vw;
    display:flex;
    width:fit-content;
    align-self: center;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],input[type="mobilenumber"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50; /* Green color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    font-size: large;
}

button:hover {
    background-color: #46a049;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 15px;
}